@import 'keyframes.css';

[shadow], [shadow] *, :host([shadow]) * {
	margin: 0;
	padding: 0;
}

[shadow] button, :host([shadow]) button {
	background: none;
	border: none;
	border-radius: 0;
}