[shadow="balloon"] {
	
	--balloon-bg-color: rgba(255,255,255,1);
	--balloon-border-color: rgba(0,0,0,1);
	--balloon-border-width-value: 1;
	--balloon-border-width: calc(1px * var(--balloon-border-width-value));
	
	--balloon-direction-size: 10px;
	--balloon-direction-positioin-ratio-x: .2;
	
	background: var(--balloon-bg-color);
	border-radius: .4rem;
	box-shadow: 0 0 0 var(--balloon-border-width) var(--balloon-border-color), 0 0 .5rem 1px rgba(0,0,0,.25);
	font: normal normal normal .6rem/1 sans-serif;
	left: calc(var(--bound-1-left) + var(--scroll-x) + (var(--bound-1-width) - (var(--bound-width) * var(--balloon-direction-positioin-ratio-x) * 2)) / 2);
	padding: .6rem;
	pointer-events: none;
	position: absolute;
	top: calc((var(--bound-1-top) + var(--scroll-y) + var(--bound-height) * -1.5));
	transform-origin: left bottom;
	z-index: 2;
	
}
[shadow="balloon"].initiated {
	
	animation: spawn .3s ease-out 0s 1 normal forwards running;
	
}
[shadow="balloon"].initiated[enter-anime-ended] {
	
	animation: exit .3s ease-out 2s 1 reverse forwards running;
	
}
[shadow="balloon"].initiated[finish] {
	
	animation: exit .3s ease-out 0s 1 reverse forwards running !important;
	
}
[shadow="balloon"]::after,
[shadow="balloon"]::before {
	
	border-bottom: var(--balloon-direction-size) solid rgba(0,0,0,0);
	border-left: var(--balloon-direction-size) solid var(--balloon-border-color);
	box-sizing: border-box;
	content: "";
	display: block;
	position: absolute;
	translate: 0 100%;
	left: calc(var(--bound-width) * var(--balloon-direction-positioin-ratio-x));
	bottom: 0;
	
}
[shadow="balloon"]::after {
	
	border-top: 2px solid var(--balloon-bg-color);
	border-left-color: var(--balloon-bg-color);
	translate: 0 calc(100% - var(--balloon-border-width) * 2);
	scale: calc(1 - var(--balloon-border-width-value) / 20);
	
}

[shadow="balloon"].checked {
	
	--balloon-bg-color: rgba(40,200,80,1);
	--balloon-border-color: rgba(40,160,80,1);
	--balloon-border-width-value: 2;
	--balloon-border-width: calc(1px * var(--balloon-border-width-value));
	
}
[shadow="balloon"].checked .content::before {
	
	--color: rgba(255,255,255,1);
	
	border-left: 4px solid var(--color);
	border-bottom: 4px solid var(--color);
	box-sizing: border-box;
	content: "";
	display: block;
	height: .6rem;
	rotate: -45deg;
	width: .9rem;
	
}