#root {
	
	/*display: none !important;*/
	/*デバッグ用*/ display: flex !important;
	
}

#buttons button {
	
	cursor: pointer;
	
}

#buttons button .label {
	
	display: block;
	pointer-events: none;
	rotate: 10deg;
	transform-origin: center bottom;
	
}
:host(:not([data-cxp-left])) #buttons button:not([initiated]) .label {
	
	animation: spawn .3s ease-out 0s 1 normal forwards running;
	
}
:host([data-cxp-left]) #buttons button .label {
	
	animation: exit .3s ease-out 0s 1 reverse forwards running !important;
	
}
/*@keyframes spawn {
	0% {
		opacity: .5;
		scale: 100% 0%;
	}
	5% {
		opacity: 1;
		scale: 130% 33%;
	}
	15% {
		scale: 100% 100%;
		translate: 0 0%;
	}
	40% {
		translate: 0 -40%;
	}
	50% {
		translate: 0 -40%;
	}
	75% {
		scale: 100% 100%;
		translate: 0 0%;
	}
	87.5% {
		scale: 130% 75%;
	}
	100% {
		scale: 100% 100%;
	}
}
@keyframes exit {
	0% {
		opacity: .5;
		scale: 100% 0%;
	}
	5% {
		opacity: 1;
		scale: 130% 33%;
	}
	15% {
		scale: 100% 100%;
		translate: 0 0%;
	}
	40% {
		translate: 0 -40%;
	}
	50% {
		translate: 0 -40%;
	}
	75% {
		scale: 100% 100%;
		translate: 0 0%;
	}
	87.5% {
		scale: 130% 75%;
	}
	100% {
		scale: 100% 100%;
	}
}*/

/*:host([data-cxp-entered]) #buttons button:hover .label,*/
:host(:not([data-cxp-left])) #buttons button[entered]:not([enter-anime-ended]):not([enter-anime-canceled]):not([pressed]) .label {
	
	animation: bounce .3s ease-out 0s 1 normal forwards running;
	
}
:host(:not([data-cxp-left])) #buttons button[left] .label,
:host(:not([data-cxp-left])) #buttons button[left][out-of-bound] .label {
	
	animation: bounce-leave .3s ease-out 0s 1 normal forwards running;
	
}
@keyframes bounce {
	0% {
		scale: 100% 100%;
	}
	33.3% {
		opacity: 1;
		scale: 130% 66.7%;
	}
	50% {
		scale: 90% 120%;
	}
	75% {
		scale: 110% 95%;
	}
	100% {
		scale: 100% 100%;
	}
}
@keyframes bounce-leave {
	0% {
		scale: 100% 100%;
	}
	33.3% {
		opacity: 1;
		scale: 130% 66.7%;
	}
	50% {
		scale: 90% 120%;
	}
	75% {
		scale: 110% 95%;
	}
	100% {
		scale: 100% 100%;
	}
}
#buttons button[pressed]:not([out-of-bound]):not([interrupted-press-anime]) .label {
	
	animation: press .2s ease-in 0s 1 normal forwards running !important;
	
}
@keyframes press {
	
	from {
		
		scale: 1;
		
	}
	to {
		
		scale: .9;
		
	}
	
}
#buttons button[released]:not([release-anime-ended]):not([interrupted-release-anime]) .label {
	
	/*animation: shake .3s cubic-bezier(.56,3.26,0,-1.37) 0s 1 normal forwards running !important;*/
	animation: shake .2s cubic-bezier(.51,3.83,.72,-0.63) 0s 1 normal forwards running !important;
	
}
@keyframes shake {
	
	0% {
		
		scale: 1.4;
		
	}
	100% {
		
		scale: 1;
		
	}
	
}

/*
:host(:not([data-cxp-left])) #buttons button:active .label {
	
	--animation: shake .3s ease-out 0s 1 normal forwards running !important;
	
}
@keyframes shake {
	
	0% {
		
		scale: 100%;
		
	}
	10% {
		
		scale: 33%;
		
	}
	20% {
		
		scale: 33%;
		
	}
	50% {
		
		scale: 120%;
		
	}
	60% {
		
		scale: 66.7%;
		
	}
	70% {
		
		scale: 110%;
		
	}
	80% {
		
		scale: 80%;
		
	}
	90% {
		
		scale: 105%;
		
	}
	100% {
		
		scale: 100%;
		
	}
	
}
*/